<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sample Test{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


        {% block body %}{% endblock %}


        {% block javascripts %}

            <script type="text/javascript" src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>

        {% endblock %}
    </body>
</html>
