
{% extends 'base.html.twig' %}

{% block body -%}
    <h1>Resume Creation</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
    </div>
    {{ form_end(form) }}

{% endblock %}


