
{% extends 'base.html.twig' %}


{% block title %}{{ data.name|e }} Resume{% endblock %}
{% block body -%}

<table class="table" style="width:70%;" align="center">

    <tr>
        <th colspan="2">
            <h1>{{ data.name|e }}</h1><br/>
            PASSIONATE GITHUB USER
        </th>
    </tr>


    <tr>
        <td>Website</td>
        <td>{{ data.blog|e }}</td>
    </tr>

    <tr>
        <td>Languages</td>
        <td>

            <table class="table">

                {% for lang in data.languages %}
                    <tr>
                        <td>{{ lang.name|e }} ({{ lang.ratio|e }}%)</td>
                    </tr>
                {% endfor %}


            </table>

        </td>
    </tr>

    <tr>
        <td>Repositories</td>
        <td>

            {% for repo in data.repositories %}

                <table class="table">
                    <tr>
                        <td>
                            <b>{{ repo.name|e }}</b><br/>
                            {{ repo.language|e }} <br/>
                            {{ repo.description|e }} <br/>
                            <a href="{{ repo.homepage|e}}">{{ repo.homepage|e}}</a>
                        </td>
                    </tr>

                </table>

             {% endfor %}




        </td>
    </tr>




</table>

{% endblock %}